@model IEnumerable<WebApplication1.Models.Urls>

@{
    ViewData["Title"] = "Ss";
}

<h2>Ss</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                    @Html.DisplayNameFor(model => model.href)
            </th>
                
         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                
                <a href="@Html.DisplayFor(modelItem => item.href)">@Html.DisplayFor(modelItem => item.text)</a>
            </td>
           
           
            
        </tr>
}
    </tbody>
</table>
